.container {
    max-width: 900px;
    margin: 2em auto 10em ;
    padding-bottom: 10px; 
  }
  .main-title {
    text-align: center;
    margin-bottom: 2em;

  }
  .button-wrapper{
      margin-bottom: 20px;
  }
  .playlist-container{
        margin-top: 1em ;

  }